<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
	</head>
	<body>
		<!-- Classroom -->
		<select id="classrooms">
			<option value="">-</option>
			{% for x in available_items["classrooms"] %}
				<option value="{{ x.__str__() }}">{{ x.__str__() }}</option>
			{% endfor %}
		</select>

		<!-- Subject -->
		<select id="subjects">
			<option value="">-</option>
			{% for x in available_items["subjects"] %}
				<option value="{{ x.__str__()|replace(" ", "+") }}">{{ x.__str__() }}</option>
			{% endfor %}
		</select>

		<!-- Student -->
		<select id="students">
			<option value="">-</option>
			{% for x in available_items["students"] %}
				<option value="{{ x.studentId }}">{{ x.__str__() }}</option>
			{% endfor %}
		</select>

		{% if object %}
			<h1>Timetable for {{ object.__str__() }}</h1>
		{% else %}
			<h1>Empty timetable</h1>
		{% endif %}
		<br>

		<div id=timetable>

		</div>

		<div id=object_information>
		{% if object %}
			<h6>{{ object.__str__() }} info:</h6>
			{% if object.__class__.__name__ == "Student" %}

				Subjects: [<br>
				{% for x in object.subjects %}
					<p><a href="?id={{ x.name|replace(" ", "+") }}">{{ x.name }}</a></p>
				{% endfor %}
				]

				<br>

				Lectures: [ <br>
				{% for x in object.lectures %}
					<p><span id="{{ x.__str__() }}">{{ x.subject.name }}: {{ x.__str__() }}</span></p>
				{% endfor %}
				]

			{% elif object.__class__.__name__ == "Classroom" %}
				Room number: {{ object.room_number }} <br>
			  	Capacity:  {{ object.capacity }} <br><br>

				Lectures: [
				{% for x in object.lectures %}
					<span id="{{ x.__str__() }}">{{ x.subject.name }}: {{ x.__str__() }}</span>
				{% endfor %}
				]

			{% elif object.__class__.__name__ == "Subject" %}
				Lectures: [
				{% for x in object.getLectures() %}
					<span id="{{ x.__str__() }}">{{ x.__str__() }}</span>
				{% endfor %}
				]<br>

				WorkLectures: [
				{% for x in object.getWorkLectures() %}
					<span id="{{ x.__str__() }}">{{ x.__str__() }}</span>
				{% endfor %}
				]<br>

				Practicas: [
				{% for x in object.getPracticas() %}
					<span id="{{ x.__str__() }}">{{ x.__str__() }}</span>
				{% endfor %}
				]<br>

				Students ({{ object.students|length }}): [
				{% for x in object.students %}
					<p><a href="?id={{ x.studentId }}">{{ x.__str__() }}</a></p>
				{% endfor %}
				]

			{% endif %}

		{% endif %}

		</div>

	</body>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>
